#Ignore target and logs
target/
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Other Entries ###
mvnw
mvnw.cmd
.mvn
command_output.log

# Properties
src/main/environment/1097_local.properties
src/main/environment/common_local.properties

node_modules/
